.snippetPage .editBtn{
  position: absolute;
  top: 0px;
  right: 0px;
}

.showHideToggle{
  display: none !important;
}

.snippetPage .editableElement:hover .showHideToggle {
  display: inline-flex !important;
}


.snippetPage textarea { 
  word-break: break-all;
  width: 100%;

}

.loginDropDown .googleLogin{
  background-color:#db3236;
  color:white;
}
.loginDropDown .googleLogin:hover{
  background-color:#b82a2c;
  color:white;
}
.loginDropDown .facebookLogin:hover{
  background-color:#334d86;
  color:white;
}
.loginDropDown .facebookLogin{
  background-color:#3b5998;
  color:white;
}
.loginDropDown .twitterLogin:hover{
  background-color:rgb(50, 146, 219);
  color:white;
}

.loginDropDown .twitterLogin{
  background-color:#38A1F3;
  color:white;
}



.fontSize13{
  font-size: 1.3rem  !important;
}
.fontSize12{
  font-size: 1.2rem !important;
}
.fontSize11{
  font-size: 1.1rem !important;
}
.fontSize10{
  font-size: 1rem !important;
}
.fontSize09{
  font-size: 0.9rem !important;
}
.fontSize08{
  font-size: 0.8rem !important;
}
.fontSize07{
  font-size: 0.7rem !important;
}

.padding05{
  padding:0.5rem !important;
}

.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }
