body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.showHideToggle{
  display: none !important;
}

.snippetPage .editableElement:hover .showHideToggle {
  display: inline-flex !important;
}


.snippetPage textarea { 
  word-break: break-all;
  width: 100%;

}

















.fontSize13{
  font-size: 1.3rem  !important;
}
.fontSize12{
  font-size: 1.2rem !important;
}
.fontSize11{
  font-size: 1.1rem !important;
}
.fontSize10{
  font-size: 1rem !important;
}
.fontSize09{
  font-size: 0.9rem !important;
}
.fontSize08{
  font-size: 0.8rem !important;
}
.fontSize07{
  font-size: 0.7rem !important;
}

.padding05{
  padding:0.5rem !important;
}